@font-face {
  font-family: MelonHoney;
  src: url('./assets/fonts/Melon\ Honey.ttf');
}

body {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(223, 223, 223, 0.9);
  background-blend-mode: multiply;
}
.game-setting-select {
  width: 500px;
  margin-top: 18px;
}

.page {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 950px;
  height: 680px;
  background-size: 50px 53px;
  background-image: repeating-linear-gradient(
    0deg,
    #00000015,
    #0000000e 2.5px,
    #ffffff 2.5px,
    #ffffff
  );
}
.timer {
  position: absolute;
  align-self: end;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 20px;
  font-weight: bold;
}

.question-text {
  font-family: MelonHoney;
  font-size: 24px;
  padding-top: 20px;
  text-align: start;
  padding-right: 100px;
}
.btn {
  width: 130px;
  font-size: 19px;
  font-family: MelonHoney;
  margin-top: 9px;
}
.correctAnswer {
  background-color: green;
  color: white;
}
.wrongAsnwer {
  background-color: red;
  color: white;
}
.start-btn {
  padding: 3px 20px 3px 20px;
}
.transperent-btn {
  background: transparent;
  border: none !important;
  width: 70px;
  cursor: default;
}
.page-flip-btn {
  border-radius: 100%;
  background-color: transparent;
  font-size: 35px;
  border-color: black;
  width: 70px;
  height: 59px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .page {
    max-width: 360px;
  }

  .game-setting-select {
    width: 300px;
    margin: 0px !important;
    padding: 0px !important;
  }
  .start-btn {
    margin-left: 55px;
    padding: 3px 40px 3px 40px;
  }
  .question-array {
    overflow-y: scroll;
  }
  .question {
  }
}

.dots {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dots__item {
  /* Rounded border */
  border-radius: 9999px;
  height: 12px;
  width: 12px;

  /* Active dot */
  background-color: rgba(0, 0, 0, 0.3);

  /* Inactive dot */
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);

  /* OPTIONAL: Spacing between dots */
  margin: 0 4px;
}
.dots__item_active {
  /* Rounded border */
  border-radius: 9999px;
  height: 14px;
  width: 14px;

  /* Active dot */
  background-color: rgba(0, 0, 0, 0.534);

  /* OPTIONAL: Spacing between dots */
  margin: 0 4px;
}
